
:root{
    --color1:rgb(106, 11, 11);
    --color2:rgb(255, 255, 255);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.container{
display: grid;
grid-template-columns: 1fr 4fr;
grid-template-rows: 1fr 4fr;
height: 100vh;
}

/* sidebar start */
.side-bar{
    color: rgb(255, 255, 255);
    background-color:var(--color1);
    padding: 15px 20px 20px 15px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-gap: 35px;
    list-style-type: none;
    box-shadow: rgb(43, 3, 3) 3px 3px 6px 0px inset, rgb(43, 3, 3) -3px -3px 6px 1px inset;
}
.nav-heading {
    font-weight: bold;
    font-size: 20px;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo-image{
    width: 70px;
    padding-right: 8px;
}

.side-bar li{
    display: flex;
    align-items: center;
    margin-left: 7px;
    
}

.side-bar img{
     filter: invert(100%);
}

.simple-icon {
    width: 30px;
    margin-right: 20px;

}

.nav-bar {
    grid-row: 2 / 3;
    padding-top: 50px;
}

.nav-styles {
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
}

.nav-styles li{
    padding-bottom: 20px;
}

.setting-bar{
   grid-row: 3 / 3;
   display: flex;
   justify-content: first baseline;
}
/* sidebar end */

/* header start */

.header{
    background-color:  var(--color2);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.top-header{
    margin-top: 20px ;
    display: flex;
    justify-content: space-between;  
    align-items: center; 
}

.search-bar{
    display: flex;
    padding: 20px 0px 0px 30px;
    

}

.search-icon {
    margin-right: 10px;
    margin-left: 40px;
    width: 30px;
}

form{
    display: flex;
    align-items: center;
}

.bar{
    padding-left: 10px;
    width: 45vw;
    max-width: 500px;
    height: 25px;
    border: none;
    border-radius: 20px;
    background-color: rgba(226,232,240,255);
    
}

.profile-bar {
    display: flex;
    justify-content:end;
    align-items:center;
    gap: 10px;
    width: 20vw;
    margin-right: 25px;
    margin-left: 15px;
    font-weight: bold;
}
.profile-bar img {
    margin-right: 5px;
}

.logo-small {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    border: none;
}
.bell{
    width: 30px;
    height: 30px;
}

.bottom-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 35px 0px 30px;
}

.logo-large{
    width: 70px;
    height: 70px;
    border-radius: 30px;
    border: none;

}

.profile-display {
    display: flex;
    justify-content:start;
    align-items: center;
    font-weight: bold;
    margin-bottom: 12px;
    margin-right: 12px;
    gap: 15px;
}
/* header end */

.greeting{
    font-size: 13px;
    margin-bottom: 5px;
    padding-left: 5px;
}
.name {
    font-size: 20px;
}

.post {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 25vw;
    max-width: 276px;
    min-width: 263px;
    margin-bottom: 18px;

}

.head-button {
    display: flex;
    transition: all 0.3s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 12px;
    border-radius: 0.5em;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
   
  }
  
  .head-button:active {
    color: #f5f5f5; 
  }
  
  .head-button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .head-button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: var(--color1);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .head-button:hover {
    color: #ffffff;
    border: 1px solid var(--color1);
  }
  
  .head-button:hover:before {
    top: -35%;
    background-color: var(--color1);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .head-button:hover:after {
    top: -45%;
    background-color: var(--color1);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

  .main{
    background-color: rgb(240, 240, 240);
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 30px 20px 40px 20px;
    max-height: 100%;
    
  }
  .project-display {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-right: 20px;
}
.project-section-heading, .announcements-section-heading, .announcements-section-heading {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}

.project-heading{
    font-size: 18px;
}

.project-text, .announcement-div{
    display: flex;
    flex-direction: column;
    gap: 1em;

    
}


.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 2fr));
  grid-gap: 5px;
  justify-items: center;

}
.project {
    background-color: white;
    width: 80%;
    height: 200px;
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding: 30px 20px 20px 20px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(left, var(--color1), var(--color1) 2%, transparent 2%, transparent 100%);
    background-image: -webkit-linear-gradient(left, var(--color1), var(--color1) 2%, transparent 2%, transparent 100%)  
}

.interactions img{
    height: 1.5em;
    
}

.interactions{
    display: flex;
    justify-content: flex-end;
}
ul li {
    list-style: none;
    margin-left: 20px;
}


  .announcements-section {
    grid-column: 2/3;
    grid-row: 1/2;

}


.announcements-container {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding: 20px 20px 20px 25px;
    border-radius: 5px;
    min-width: 231px;
}

.announcement-description, .project-description {
    font-size: 12px;
    color: rgb(88, 88, 88);
}
hr {
    margin: 15px 0 15px 0;
}

.trending-profiles-section{
    grid-column: 2/3;
    grid-row: 2/2;
}


.trending-container{
    display: grid;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding: 20px 20px 20px 25px;
    border-radius: 5px;
    min-width: 231px;
    gap: 1.3em;
}

.trending-profile img{
    height: 45px;

}
.trending-profile{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 20px;
}

.trending-username {
    font-size: 14px;
    font-weight: 400px;
}

.trending-project {
    font-size: 12px;
    color: rgb(88, 88, 88);
}

.clickable:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.clickable-ul:hover{
    transform: scale(1.05);
}

.clickable-title:hover{
    transform: scale(1.08);
}





